* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {
    background-color: #008374;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 30px 50px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 15px;
}
.inicio {
    background-color: #23A092;
    color: white;
    padding: 30px 70px 0;
    height: 430px;
}
.titulo-inicio{
    font-size: 50px;
}
.texto-inicio{
    font-size: 40px;
    width: 70%;
}
.caixa {
    border: 1px solid black;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h4 {
    text-align: center;
}
.diferente {
    margin: 80px 200px;
}
.plano {
    background-color: #EDECEC;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px; 
}
.linha {
    height: 20px;
    width: 300px;
    margin: 10px 0;
}
.clara{
    background-color: #F6A256;
}
.escuro {
    background-color: #FF912D;
}
h3 {
    font-size: 30px;
    margin-top: 10px;
}
.planos {
    margin: 0 100px;
}
.planos .container {
    margin: 0 200px;
}
.beneficio {
    font-size: 20px;
}
span {
    color: grey;
}